{% extends 'base_brand.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
<div class="container">
        <div class="row mt-f">
            <div class="col-6">
                <form action="." method="POST">{% csrf_token %}
                    {{another_form|crispy}}
                    <button class="btn btn-sm btn-success" name="submit" value="return">Submit & Return</button>
                    <button class="btn btn-sm btn-primary" name="submit" value="stay">Submit & Stay</button>
                </form>
            </div>
        </div>
    <div class="row mt-4">
        <div class="col-6">
            <form action="." method="POST">{% csrf_token %}
                {{ formset|crispy }}
                <button class="btn btn-sm btn-success" name="submit" value="return">Submit & Return</button>
                <button class="btn btn-sm btn-primary" name="submit" value="stay">Submit & Stay</button>
            </form>
        </div>
        <div class="col-6">
            <dl class="row">
                <dt class="col-sm-3">Редактирование Бренда</dt>
                <dd class="col-sm-9">Можно редактировать, сам бренд, который в НАШЕМ словаре, а так-же удалять, добавлять поля для бренда.</dd>
            </dl>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block vuejs %}
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/vue_my_test.js' %}"></script>
{% endblock vuejs %}
